.search-section {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
  }
  
  #searchInput {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 10px;
  }
  
  #searchInput:focus {
    outline: none;
    border-color: #ff6781;
  }
  